* {
margin: 0;
padding: 0;

font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

body {
  min-width: 800px;
  max-width: 2000px;
}

::selection {
  background-color: lightslategray;
  color: #f2f2f2;
}

a:link,
a:visited {
  color: #000;
}

header {
  width: 80%;
  height: 120px;
  margin: 0 10%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

  background-color: #f2f2f2;
}

.general-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#name,
#age {
  margin: 0 15px;
}

#name {
  font-size: 25px;
}

#age {
  margin-top: 10px;

  font-size: 18px;
  color: lightslategray
}

.photo-container div {
  height: 100px;
  width: 100px;

  border-radius: 50%;

  overflow: hidden;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  list-style: none;
  font-size: 30px;
}

.contact-info-container li {
  display: inline-block;
}

.contact-info-container li:last-child {
  display: inline-block;

  font-size: 1.1em;
}

.divider {
  height: 3px;
  width: 80%;

  margin: 0 10%;

  background-color: lightsalmon;
}

main {
  padding: 2%;
  margin: 0 10%;

  display: flex;
  flex-direction: column;

  background-color: #f2f2f2;
}

article {
  width: 80%;
  min-height: 50px;
  margin: 0 10% 20px 10%;
  padding-bottom: 20px;

  display: flex;
  flex-direction: row;

  border-bottom: 2px solid lightgray;
}

.article-name {
  width: 20%;

  font-size: 1.2em;
  text-align: center;
}

.article-body {
  width: 75%;
}

#skills ul {
  column-count: 3;
}

.article-body ul li {
  display: list-item;
  list-style: inside;
}

article:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.experience .article-body div{
  font-size: 0.9em;
}
